:root {
  --tiny-color: rgba(0, 0, 0, 0.87);
  --tiny-bgcolor: #ffffff;

  // dark
  --tiny-dark-bgcolor: #232323;
  --tiny-dark-color: #ffffff;

  --tiny-primary-color: #4b89ff;
  --tiny-primary-bgcolor: #4b89ff;
  --tiny-primary-box-shadow-color: rgba(33, 133, 208 0.1);

  --tiny-warning-color: #faad14;
  --tiny-warning-bgcolor: rgba(255, 191, 0, 0.15);

  --tiny-error-color: rgb(208, 25, 25);
  --tiny-error-bgcolor: rgba(205, 23, 25, 0.08);

  --tiny-success-color: rgb(22, 171, 57);
  --tiny-success-bgcolor: rgba(22, 171, 57, 0.15);

  --tiny-hover-bgcolor: #f8f8f8;
  --tiny-active-bgcolor: #e6f4ff;

  --tiny-border-radius: 3px;
  --tiny-line-height: 1.5em;

  --tiny-input-border-color: #d9d9d9;

  --tiny-outline: 2px double rgba(33, 133, 208, 0.65);

  // font
  --tiny-font-size: 14px;
  --tiny-font-family:
    AlibabaSans, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  // padding
  --tiny-padding-vertical: 0.465em;
  --tiny-padding-horizontal: 0.75em;

  // border
  --tiny-border-color: rgba(34, 36, 38, 0.15);

  // box-shadow
  --tiny-box-shadow-color: rgba(34, 36, 38, 0.15);
  --tiny-box-shadow: 0px 2px 3px 0px var(--tiny-border-color);

  --tiny-icon-font-size: 12px;

  --tiny-spin-loading-border-color: #4b89ff;

  --tiny-button-padding-vertical: 0.465em;
  --tiny-button-padding-horizontal: 1em;
  --tiny-button-color: var(--tiny-color);
  --tiny-button-border-color: var(--tiny-border-color);
  --tiny-button-box-shadow: var(--tiny-box-shadow);

  --tiny-menu-font-size: var(--tiny-font-size);
  --tiny-menu-color: var(--tiny-color);
  --tiny-menu-box-shadow: var(--tiny-box-shadow);
  --tiny-menu-padding-vertical: 0.685em;
  --tiny-menu-padding-horizontal: 1.125em;
  --tiny-menu-active-color: var(--tiny-primary-color);
  --tiny-menu-hover-bgcolor: var(--tiny-hover-bgcolor);
  --tiny-menu-active-bgcolor: var(--tiny-active-bgcolor);
  --tiny-menu-vertical-divider-color: #fafafa;
  --tiny-menu-vertical-border-color: var(--tiny-border-color);
  --tiny-menu-horizontal-border-bottom-color: rgba(0, 0, 0, 0.08);
  --tiny-menu-horizontal-active-border-color: var(--tiny-primary-color);

  // --tiny-pagination-height: 32px;
  // --tiny-pagination-minwidth: 32px;
  --tiny-pagination-padding-vertical: var(--tiny-padding-vertical);
  --tiny-pagination-padding-horizontal: var(--tiny-padding-horizontal);
  --tiny-pagination-active-color: var(--tiny-primary-color);
  --tiny-pagination-active-bgcolor: var(--tiny-active-bgcolor);
  --tiny-pagination-hover-bgcolor: var(--tiny-hover-bgcolor);
  --tiny-pagination-total-bgcolor: rgba(255, 191, 0, 0.15);

  --tiny-tabs-bgcolor: #ffffff;
  --tiny-tabs-border-color: var(--tiny-border-color);
  --tiny-tabs-border-width: 2px;
  --tiny-tabs-margin: -2px;
  --tiny-tabs-box-shadow: var(--tiny-box-shadow);
  --tiny-tabs-active-border-color: var(--tiny-primary-color);
  --tiny-tabs-card-nav-bgcolor: #f8f8f8;
  --tiny-tabs-padding-vertical: var(--tiny-padding-vertical);
  --tiny-tabs-padding-horizontal: var(--tiny-padding-horizontal);

  --tiny-radio-color: var(--tiny-color);
  --tiny-radio-font-size: var(--tiny-font-size);
  --tiny-radio-size: 14px;
  --tiny-radio-border-color: var(--tiny-border-color);
  --tiny-radio-checked-color: var(--tiny-primary-color);
  --tiny-radio-button-bgcolor: var(--tiny-border-color);
  --tiny-radio-button-padding: calc(var(--tiny-padding-vertical) - 1px)
    calc(var(--tiny-padding-horizontal) - 1px);
  --tiny-radio-button-border-radius: var(--tiny-border-radius);
  --tiny-radio-button-box-shadow: 0px 1px 2px 0px var(--tiny-border-color);

  --tiny-checkbox-color: var(--tiny-color);
  --tiny-checkbox-font-size: var(--tiny-font-size);
  --tiny-checkbox-size: 14px;
  --tiny-checkbox-border-color: var(--tiny-border-color);
  --tiny-checkbox-checked-color: var(--tiny-primary-color);

  --tiny-input-font-size: var(--tiny-font-size);
  --tiny-input-color: var(--tiny-color);
  --tiny-input-border-color: var(--tiny-border-color);
  --tiny-input-filled-bgcolor: #f8f8f8;
  --tiny-input-inner-padding: 0.25em;
  --tiny-input-height: 32px;
  --tiny-input-padding-vertical: 3px;
  --tiny-input-padding-horizontal: var(--tiny-padding-horizontal);
  --tiny-input-padding: var(--tiny-input-padding-vertical)
    var(--tiny-padding-horizontal);
  --tiny-input-active-border-color: var(--tiny-primary-color);
  --tiny-input-active-box-shadow-color: var(--tiny-primary-color);

  --tiny-tag-bgcolor: #ededed;

  --tiny-calendar-padding: 4px;

  --tiny-picker-padding: var(--tiny-padding-horizontal);
  --tiny-picker-cell-padding: 6px;

  --tiny-tree-item-padding: 0 8px;
  --tiny-tree-item-margin: 6px;
  --tiny-tree-item-hover-bgcolor: #ededed;
  --tiny-tree-line-height: 24px;

  --tiny-upload-item-padding-horizontal: 6px;

  --tiny-card-padding: 0.765em 0.865em;

  --tiny-table-cell-padding: 0.765em 0.865em;
  --tiny-table-th-bgcolor: #f8f8f9;
}

*,
::after,
::before,
::backdrop,
::file-selector-button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0 solid;
}

body,
input,
textarea {
  font-weight: 400;
  font-size: var(--tiny-font-size);
  font-family: var(--tiny-font-family);
}

input:focus {
  outline: none;
}
input[type='password']::-ms-reveal,
input[type='password']::-clear-reveal,
input[type='password']::-webkit-reveal,
input[type='password']::-moz-reveal {
  display: none;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.tiny-messages {
  position: fixed;
  left: 0;
  top: 1em;
  display: flex;
  justify-content: center;
  width: 100%;
}
.tiny-message {
  display: inline-block;
  text-align: center;
  font-size: 1em;
  color: var(--tiny-color);
  background-color: var(--tiny-bgcolor);
  border: 2px solid var(--tiny-border-color);
  box-shadow: var(--tiny-box-shadow);
  border-radius: var(--tiny-border-radius);
  padding: 0.6em 1em;

  &.warning {
    border-color: var(--tiny-warning-color);
  }

  &.error {
    border-color: var(--tiny-error-color);
  }

  &.success {
    border-color: var(--tiny-success-color);
  }
}

@import './button/style.less';
@import './overlay/style.less';
@import './grid/style.less';
@import './layout/style.less';
@import './space/style.less';
@import './divider/style.less';
@import './splitter/style.less';
@import './menu/style.less';
@import './pagination/style.less';
@import './spin/style.less';
@import './tabs/style.less';
@import './radio/style.less';
@import './checkbox/style.less';
@import './input/style.less';
@import './tag/style.less';
@import './select/style.less';
@import './calendar/style.less';
@import './date-picker/style.less';
@import './tree/style.less';
@import './popconfirm/style.less';
@import './upload/style.less';
@import './image/style.less';
@import './card/style.less';
@import './table/style.less';
