@css-prefix: tiny;
// @primary-color: #4b89ff;
// @primary-hover-color: #1678c2;
// @bg-color: #ffffff;
// @bg-dark-color: #232323;
// @bg-hover-color: #8fc4ec3b;
// @text-color: rgba(0, 0, 0, 0.87);
// @text-dark-color: #ffffff;
// @font-size: 13px;
// @border-divider-color: rgba(0, 0, 0, 0.05);
// @border-color: rgba(34, 36, 38, 0.15);
// @border-radius: 3px;
// @padding-horizontal: 1em;
// @padding-vertical: 0.5em;
// @loading-width: 1.2em;
// @loading-border-width: 0.2em;

.disabled() {
  &.disabled {
    cursor: default;
    opacity: 0.55 !important;
    background-image: none !important;
    box-shadow: none !important;
    pointer-events: none !important;
  }
}

.loading(@width, @borderWidth, @borderColor) {
  position: relative;
  color: transparent !important;
  &:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    margin: -(@width / 2) 0em 0em -(@width / 2);
    width: @width;
    height: @width;
    border-radius: 500rem;
    border: @borderWidth solid rgba(0, 0, 0, 0.15);
  }
  &:after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    margin: -(@width / 2) 0em 0em -(@width / 2);
    width: @width;
    height: @width;
    animation: loading 0.8s linear;
    animation-iteration-count: infinite;
    border-radius: 500rem;
    border-color: @borderColor transparent transparent transparent;
    border-style: solid;
    border-width: @borderWidth;
    box-shadow: 0px 0px 0px 1px transparent;
  }
}

.loading() {
  &.loading {
    .loading(1.2em, 0.2em, #ffffff);
  }
}
