@import './button/style.less';
@import './overlay/style.less';
@import './grid/style.less';
@import './layout/style.less';
@import './space/style.less';
@import './divider/style.less';
@import './splitter/style.less';
@import './menu/style.less';
@import './pagination/style.less';
@import './spin/style.less';
@import './tabs/style.less';
@import './radio/style.less';
@import './checkbox/style.less';

:root {
  --tiny-bgcolor: #ffffff;
  --tiny-dark-bgcolor: #232323;
  --tiny-font-size: 14px;
  --tiny-color: rgba(0, 0, 0, 0.87);
  --tiny-primary-color: #4b89ff;
  --tiny-hover-bgcolor: #f8f8f8;
  --tiny-active-bgcolor: #f8f8f8;
  --tiny-border-color: rgba(34, 36, 38, 0.15);
  --tiny-box-shadow-color: rgba(34, 36, 38, 0.15);
  --tiny-border-radius: 3px;
  --tiny-line-height: 1.5em;
  --tiny-input-border-color: #d9d9d9;
  --tiny-font-family: Lato, Helvetica Neue, Arial, Helvetica, sans-serif;
  --tiny-padding-vertical: 6px;
  --tiny-padding-horizontal: 10px;
  --tiny-box-shadow: 0px 2px 3px 0px var(--tiny-border-color);

  --tiny-spin-loading-border-color: #4b89ff;

  --tiny-button-height: 26px;
  --tiny-button-padding-vertical: 0.465em;
  --tiny-button-padding-horizontal: 1em;
  --tiny-button-color: var(--tiny-color);
  --tiny-button-border-color: var(--tiny-border-color);
  --tiny-button-box-shadow: var(--tiny-box-shadow);

  --tiny-menu-height: 36px;
  --tiny-menu-font-size: var(--tiny-font-size);
  --tiny-menu-color: var(--tiny-color);
  --tiny-menu-box-shadow: var(--tiny-box-shadow);
  --tiny-menu-padding-vertical: 0.685em;
  --tiny-menu-padding-horizontal: 0.925em;
  --tiny-menu-active-color: var(--tiny-primary-color);
  --tiny-menu-hover-bgcolor: var(--tiny-hover-bgcolor);
  --tiny-menu-active-bgcolor: var(--tiny-hover-bgcolor);
  --tiny-menu-vertical-divider-color: #fafafa;
  --tiny-menu-vertical-border-color: var(--tiny-border-color);
  --tiny-menu-horizontal-border-bottom-color: rgba(0, 0, 0, 0.08);
  --tiny-menu-horizontal-active-border-color: var(--tiny-primary-color);

  // --tiny-pagination-height: 32px;
  // --tiny-pagination-minwidth: 32px;
  --tiny-pagination-padding-vertical: 0.485em;
  --tiny-pagination-padding-horizontal: 0.725em;
  --tiny-pagination-active-color: var(--tiny-primary-color);
  --tiny-pagination-active-bgcolor: var(--tiny-active-bgcolor);
  --tiny-pagination-hover-bgcolor: var(--tiny-hover-bgcolor);
  --tiny-pagination-total-bgcolor: rgba(255, 191, 0, 0.15);

  --tiny-tabs-bgcolor: #ffffff;
  --tiny-tabs-border-color: var(--tiny-border-color);
  --tiny-tabs-border-width: 2px;
  --tiny-tabs-margin: -2px;
  --tiny-tabs-box-shadow: var(--tiny-box-shadow);
  --tiny-tabs-active-border-color: var(--tiny-primary-color);
  --tiny-tabs-card-nav-bgcolor: #f8f8f8;
  --tiny-tabs-padding-vertical: 0.465em;
  --tiny-tabs-padding-horizontal: 0.625em;

  --tiny-radio-color: var(--tiny-color);
  --tiny-radio-font-size: var(--tiny-font-size);
  --tiny-radio-size: 14px;
  --tiny-radio-border-color: var(--tiny-border-color);
  --tiny-radio-checked-color: var(--tiny-primary-color);
  --tiny-radio-button-bgcolor: var(--tiny-border-color);
  --tiny-radio-button-padding: 0.325em 0.625em;
  --tiny-radio-button-border-radius: var(--tiny-border-radius);
  --tiny-radio-button-box-shadow: 0px 1px 2px 0px var(--tiny-border-color);

  --tiny-checkbox-color: var(--tiny-color);
  --tiny-checkbox-font-size: var(--tiny-font-size);
  --tiny-checkbox-size: 14px;
  --tiny-checkbox-border-color: var(--tiny-border-color);
  --tiny-checkbox-checked-color: var(--tiny-primary-color);
}

*,
::after,
::before,
::backdrop,
::file-selector-button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0 solid;
}

body {
  font-weight: 400;
  font-size: var(--tiny-font-size);
  font-family: var(--tiny-font-family);
}
input:focus {
  outline: none;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
