@import '../style.base.less';

.@{css-prefix}-popconfirm {
  display: flex;
  padding: 1em;
}
.@{css-prefix}-popconfirm-icon {
  margin-right: 0.5em;
  color: var(--tiny-warning-color);
}
.@{css-prefix}-popconfirm-body {
  display: flex;
  flex-direction: column;
}
.@{css-prefix}-popconfirm-title {
  font-weight: 500;
  display: flex;
}
.@{css-prefix}-popconfirm-content {
  padding: 6px 0 12px 0;
  color: var(--tiny-color);
}
.@{css-prefix}-popconfirm-actions {
  display: flex;
  justify-content: right;
  column-gap: 6px;
}
