@import '../style.base.less';

.@{css-prefix}-input {
  .input(input);
}

.@{css-prefix}-input-actions {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: 0;
  overflow: hidden;
  height: 100%;
}
.@{css-prefix}-input-action {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 0 0.4em;
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.65);
  &:hover {
    background: rgba(0, 0, 0, 0.08);
  }
}
