@import '../style.base.less';

.@{css-prefix}-input {
  position: relative;
  display: inline-flex;
  color: var(--tiny-input-color);
  border: 1px solid transparent;
  padding: var(--tiny-input-padding);
  align-items: center;
  width: 100%;
  min-width: 0;
  min-height: var(--tiny-input-height);
  column-gap: 4px;

  &.outlined {
    border-color: var(--tiny-input-border-color);
    border-radius: var(--tiny-border-radius);
    &:hover,
    &:focus,
    &.active {
      border-color: var(--tiny-input-active-border-color);
    }
  }
  &.filled {
    background-color: var(--tiny-input-filled-bgcolor);
    border-radius: var(--tiny-border-radius);
    &:hover,
    &:focus,
    &.active {
      border-color: var(--tiny-input-active-border-color);
    }
  }
  &.underlined {
    border-bottom-color: var(--tiny-input-border-color);
    &:hover,
    &:focus,
    &.active {
      border-bottom-color: var(--tiny-input-active-border-color);
    }
  }

  &.error {
    background-color: var(--tiny-error-bgcolor);
  }
  &.warning {
    background-color: var(--tiny-warning-bgcolor);
  }

  .disabled;

  > input,
  &.textarea {
    font-family: var(--tiny-font-family);
    font-size: var(--tiny-input-font-size);
    color: inherit;
    outline: none;
    margin: 0;
    width: 100%;
    min-width: 0;
    vertical-align: middle;
  }
  > input {
    line-height: 1;
    background: transparent;
  }
  &.textarea {
    line-height: calc(
      var(--tiny-input-height) - var(--tiny-input-padding-vertical) * 2
    );
    height: auto;
  }

  &:hover,
  &:focus {
    outline: none;
    .@{css-prefix}-input-actions {
      opacity: 1;
    }
  }
}

.@{css-prefix}-input-prefix,
.@{css-prefix}-input-suffix {
  display: flex;
  align-items: center;
  flex: none;
  color: rgba(0, 0, 0, 0.6);
}

.@{css-prefix}-input-suffix {
  &.loading {
    width: 1em;
    .loading(1em, 0.15em, #ffffff);
  }
}
.@{css-prefix}-input-clear {
  position: absolute;
  z-index: 1;
  top: calc(50% - var(--tiny-icon-font-size) / 2);
  right: 0;
  width: var(--tiny-icon-font-size);
  height: var(--tiny-icon-font-size);
  border-radius: 10em;
  background-color: rgba(0, 0, 0, 0.35);
  margin-right: calc(var(--tiny-input-padding-horizontal) - 1px);
  svg {
    padding: 1px;
    width: var(--tiny-icon-font-size);
    height: var(--tiny-icon-font-size);
    polygon {
      fill: #ffffff;
    }
  }
}

.@{css-prefix}-input-actions {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: 0;
  overflow: hidden;
  height: 100%;
}
.@{css-prefix}-input-action {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 0 0.4em;
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.65);
  &:hover {
    background: rgba(0, 0, 0, 0.08);
  }
}
