@import '../style.base.less';

.@{css-prefix}-button {
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  user-select: none;
  transition: all 0.1s linear;
  line-height: 1;
  padding: var(--tiny-button-padding-vertical)
    var(--tiny-button-padding-horizontal);
  color: var(--tiny-button-color);
  border-radius: var(--tiny-border-radius);
  background-color: #fff;

  .disabled;

  &.loading {
    .loading(1em, 0.2em, #ffffff);
  }

  &.primary {
    background-color: var(--tiny-primary-color);
    color: #fff;

    &:hover {
      background-color: hsl(from var(--tiny-primary-color) h s calc(l * 1.1));
    }
  }
  &.outline {
    border: 1px solid var(--tiny-button-border-color);
    box-shadow: var(--tiny-button-box-shadow);
  }
  &.dashed {
    border: 1px dashed var(--tiny-button-border-color);
  }
  &.outline,
  &.dashed {
    &:hover {
      color: var(--tiny-primary-color);
      border-color: var(--tiny-primary-color);
    }
  }
  &.text:hover {
    background-color: rgba(0, 0, 0, 0.06);
  }

  &.rect {
    border-radius: var(--tiny-border-radius);
  }
  &.circle {
    border-radius: 50%;
  }
}

.@{css-prefix}-space.compact {
  .@{css-prefix}-button {
    &.outline {
      border-radius: 0;
      box-shadow: none;
      margin-inline-end: -1px;
      &:hover {
        border-color: var(--tiny-button-border-color);
      }
      &:first-child {
        border-top-left-radius: var(--tiny-border-radius);
        border-bottom-left-radius: var(--tiny-border-radius);
      }
      &:last-child {
        border-top-right-radius: var(--tiny-border-radius);
        border-bottom-right-radius: var(--tiny-border-radius);
      }
    }
  }
}
