@import '../style.base.css';

.tiny-table-overlayer-area {
  position: absolute;
  pointer-events: none;
  background: transparent;
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
}

.tiny-table-overlayer-area .overlayer-area-content {
  width: 100%;
  height: 100%;
}
