@import '../style.base.css';

.tiny-table-selector {
  display: none;
  position: absolute;
  pointer-events: none;
  background: transparent;
  border: 2px solid var(--primary-color);
  z-index: 2;
}
.tiny-table-selector .corner {
  pointer-events: auto;
  background: var(--primary-color);
  border: 2px solid #ffffff;
  height: 5px;
  width: 5px;
  position: absolute;
  right: -5px;
  bottom: -5px;
  cursor: crosshair;
  user-select: none;
}
.tiny-table-selector-area {
  display: none;
  position: absolute;
  pointer-events: none;
  background: #4b89ff14;
}
.tiny-table-selector-focus {
  background: #79a7fd14;
  position: absolute;
  pointer-events: none;
  z-index: 1;
}
.tiny-table-selector-copy {
  display: none;
  position: absolute;
  pointer-events: none;
  border: 2px dashed var(--primary-color);
  z-index: 3;
}
.tiny-table-selector-autofill {
  display: none;
  position: absolute;
  pointer-events: none;
  border: 2px dashed rgba(0, 0, 0, 0.45);
}
