@import '../style.base.css';

.tiny-table-editor {
  position: absolute;
  z-index: 12;
  border: 2px solid var(--primary-color);
  display: none;
  background-color: #fff;
  line-height: 0;
  pointer-events: auto;
}

.tiny-table-editor > textarea {
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  box-sizing: content-box;
  border: none;
  padding: 3px;
  outline-width: 0;
  resize: none;
  text-align: start;
  overflow-y: hidden;
  top: 0;
  font: var(--font);
  color: inherit;
  white-space: normal;
  word-wrap: break-word;
  line-height: 1.25em;
  margin: 0;
}

.tiny-table-editor > .measure {
  position: fixed;
  visibility: hidden;
  left: 0;
  top: 0;
  font: var(--font);
  margin: 0;
  padding: 3px;
  word-break: break-all;
}
