@import '../style.base.less';

.@{css-prefix}-picker {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  user-select: none;

  .@{css-prefix}-picker-header {
    display: flex;
    padding: var(--tiny-picker-padding);
    border-bottom: 1px solid var(--tiny-border-color);
    font-weight: 500;
    color: rgba(0, 0, 0, 0.65);
  }
  .@{css-prefix}-picker-header-text,
  .@{css-prefix}-picker-button {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .@{css-prefix}-picker-button,
  .@{css-prefix}-picker-prev,
  .@{css-prefix}-picker-next {
    opacity: 0.6;
    &:hover {
      color: var(--tiny-color);
      opacity: 1;
    }
  }

  .@{css-prefix}-picker-content {
    width: 100%;
    border-collapse: separate;
    border-spacing: 4px;

    td,
    th {
      font-weight: 400;
      text-align: center;
      vertical-align: middle;
      // background-color: rgba(0, 0, 0, 0.05);
    }

    th {
      padding: var(--tiny-picker-cell-padding);
    }

    td {
      cursor: pointer;
      padding: var(--tiny-picker-cell-padding);
      // border: 1px solid var(--tiny-border-color);

      &:hover {
        background-color: var(--tiny-hover-bgcolor);
      }

      &.active {
        background-color: var(--tiny-active-bgcolor);
      }

      &.today {
        color: var(--tiny-primary-color);
      }

      &.year,
      &.month {
        height: 2em;
      }

      .disabled;
    }
  }
}
