@import '../style.base.less';

.@{css-prefix}-space {
  display: inline-flex;

  &.small {
    row-gap: 4px;
    column-gap: 4px;
  }
  &.middle {
    row-gap: 8px;
    column-gap: 8px;
  }
  &.large {
    row-gap: 12px;
    column-gap: 12px;
  }
}
