@import '../style.base.less';

.@{css-prefix}-select {
  .input(select);

  &.multiple {
    padding-left: calc(var(--tiny-input-padding-vertical) + 2px);
    .@{css-prefix}-select-content {
      .placeholder,
      .placeholder + input {
        margin-left: calc(
          var(--tiny-input-padding-horizontal) -
            var(--tiny-input-padding-vertical) - 2px
        );
      }
    }
  }
}

.@{css-prefix}-select-content {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  line-height: 1;
  row-gap: 4px;

  input {
    width: 4px;
    min-width: 4px;
    margin: 4px 0;
  }

  .@{css-prefix}-tag {
    margin-right: 4px;
  }

  .placeholder,
  .value-text {
    position: absolute;
    opacity: 0.6;
  }
}
