@import '../style.base.less';

.@{css-prefix}-overlay {
  display: inline-flex;
  position: absolute;
  left: -2000px;
  top: -2000px;
  background-color: var(--tiny-bgcolor);
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
  box-shadow: var(--tiny-box-shadow);
}
