@import '../style.base.less';

.@{css-prefix}-checkbox {
  position: relative;
  display: flex;
  backface-visibility: hidden;
  outline: 0;
  user-select: none;
  align-items: center;

  > input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0 !important;
    height: 0;
    width: 0;
  }

  > label {
    padding-left: calc(var(--tiny-checkbox-size) * 0.4);
  }

  &.indeterminate > .@{css-prefix}-checkbox-status {
    &:before {
      border-color: var(--tiny-checkbox-checked-color);
    }
    &:after {
      transform: scale(0.4);
      background-color: var(--tiny-checkbox-checked-color);
    }
  }

  &.checked > .@{css-prefix}-checkbox-status {
    &:before {
      border-color: var(--tiny-checkbox-checked-color);
      background-color: var(--tiny-checkbox-checked-color);
    }
    &:after {
      border-radius: 0;
      top: calc(0.465 * var(--tiny-checkbox-size));
      left: calc(0.265 * var(--tiny-checkbox-size));
      width: calc(5 * var(--tiny-checkbox-size) / 14);
      height: calc(8 * var(--tiny-checkbox-size) / 14);
      border: 2px solid #fff;
      border-top: 0;
      border-left: 0;
      transform: rotate(45deg) scale(1) translate(-50%, -50%);
    }
  }
  &:focus .@{css-prefix}-checkbox-status {
    outline: var(--tiny-outline);
  }
  &:not(.checked):hover .@{css-prefix}-checkbox-status:before {
    border-color: hsla(
      from var(--tiny-checkbox-checked-color) h s calc(l * 1.2)
    );
    outline: none;
  }
}
.@{css-prefix}-checkbox-status {
  width: var(--tiny-checkbox-size);
  height: var(--tiny-checkbox-size);
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  color: var(--tiny-checkbox-color);
  border-radius: var(--tiny-border-radius);

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: var(--tiny-checkbox-size);
    width: var(--tiny-checkbox-size);
    border-radius: 2px;
    border: 2px solid var(--tiny-checkbox-border-color);
  }
}

.@{css-prefix}-checkbox-group {
  display: flex;

  &.horizontal {
    .@{css-prefix}-checkbox {
      margin-right: 1em;
    }
  }

  &.vertical {
    flex-direction: column;
    .@{css-prefix}-checkbox {
      margin: 0.425em 0;
    }
  }
}
