@import '../style.base.less';

.@{css-prefix}-pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  column-gap: 4px;
  user-select: none;

  > li {
    display: flex;
    border-radius: var(--tiny-border-radius);
    cursor: pointer;
    outline: 0;
    padding: var(--tiny-pagination-padding-vertical)
      var(--tiny-pagination-padding-horizontal);
    align-items: center;
    line-height: 1;

    .disabled;

    &:not(.active, .pages, .total):hover {
      background-color: var(--tiny-pagination-hover-bgcolor);
    }

    &.active {
      color: var(--tiny-pagination-active-color);
      background-color: var(--tiny-pagination-active-bgcolor);
    }

    &.total {
      background-color: var(--tiny-pagination-total-bgcolor);
    }

    &.pages {
      padding: 0 calc(var(--tiny-pagination-padding-horizontal) / 2);

      > input {
        font-family: var(--tiny-font-family);
        font-size: var(--tiny-font-size);
        line-height: 1;
        color: var(--tiny-color);
        width: 3.2em;
        margin: 0;
        padding: calc(var(--tiny-pagination-padding-vertical) - 2px)
          var(--tiny-pagination-padding-horizontal);
        border-radius: var(--tiny-border-radius);
        text-align: center;
        border: none;
        box-shadow: 0 0 1px 1px var(--tiny-box-shadow-color);
        vertical-align: middle;
      }
      > span {
        padding: 0 calc(var(--tiny-pagination-padding-horizontal) - 2px);
      }
    }
  }
}
